<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hookah.roma.hookahmix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activites.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hookah.roma.hookahmix.ui.activites.MixActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.hookah.roma.hookahmix.ui.activites.TabakListActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.hookah.roma.hookahmix.ui.activites.MixListActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.hookah.roma.hookahmix.ui.activites.TabakPagerActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name="com.hookah.roma.hookahmix.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

    </application>

</manifest>